.Footer {
  background: black;
  padding: 20px 0px;
  color: #fff;
}
.Social > div {
  width: 200px;
}

@media only screen and (min-width: 1000px) {
  .Footer {
    background: black;
    padding: 20px 0px;
    color: #fff;
  }
  .Social > div {
    width: 200px;
  }
}
@media only screen and (max-width: 760px) {
  .Logo {
    width: 100px;
  }
}
