.Slider {
  width: 100%;
  height: 100%;
  background: #eeafaf;
  z-index: 100;
  position: relative;
  /* position: absolute; */
}
.SliderContainer {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  /* width: 900px; */
  height: 100%;
  justify-content: space-around;
}
.swiper-container {
  /* width: calc(100vw - 400px); */
  /* height: calc(100vh - 100px); */
  height: 100%;
}
.swiper-slide {
  width: 100%;
}
.swiper-pagination {
  text-align: right;
}

@media only screen and (max-width: 760px) {
  .SliderContainer {
    align-items: center;
  }
}
